<h1>Welcome to the Business Site</h1>
<a href="/register">Register</a> | <a href="/login">Login</a>

<body>
    <section class="business">
    <h1>WELCOME TO BUSINESS SIT</h1>
    <div>
    <div>STARTING A BUSINESS </div>
    <div><h2>REGISTER YOUR COMPANY</h2></div>
    <div>IN JUST 4-7 WORKING DAYS</div>
</div>

<div>
    <div><h3>OUR SERVICES</h3></div>
    <div><p>PVT.LTD. Registration</p></div>
    <div><p>Public Limited Registration</p></div>
    <div><p>LLP Registration</p></div>
    <div><p>One Person Comoany (OPC) Registration</p></div>
    <img src="image/girl.jpg" alt="">
</div>

<div>Doorstep Service Available</div>

<button>REGISTER NOW</button>
</section>
